{% extends "base.html" %}

{% block content %}
<body class="#">
    <div class="child-table">
        <thead>
            <table class="table-classic table-bordered">
                <tr class="td-classic-th">
                    <th scope="col">#</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">location</th>
                    <th scope="col">Descriptiom</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr class="td-classic">
                    <td >#{{ room.number }}</td>
                    <td>{{ room.capacity }}</td>
                    <td>{{ room.locatio }}</td>
                    <td>{{ room.descriptiom }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}