{% extends 'base.html' %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if messages.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="child">
          {% for field in form %}
              <label>{{field.label_tag}}</label><br>
              <label>{{field}}</label><br>     
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-outline-success">register</button>
    </div>
    </form>
    {% endblock %}